{% extends 'base.html' %}
{% block body %}
    <section class="probootstrap-slider flexslider2 page-inner">
        <div class="overlay"></div>
        <div class="probootstrap-wrap-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">

                        <div class="page-title probootstrap-animate">
                            <div class="probootstrap-breadcrumbs">
                                <a href="#">Home</a><span>Properties</span>
                            </div>
                            <h1>Properties</h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <ul class="slides">
            <li style="background-image: url(img/slider_1.jpg);"></li>
            <li style="background-image: url(img/slider_4.jpg);"></li>
            <li style="background-image: url(img/slider_2.jpg);"></li>
        </ul>
    </section>
    <!-- END: slider  -->

    <section class="probootstrap-section probootstrap-section-lighter">
        <div class="container">
            <div class="row">
                {% if property_list %}
                    {% for propety in property_list %}
                        <div class="col-md-4 col-sm-6">
                            <div class="probootstrap-card probootstrap-listing">
                                <div class="probootstrap-card-media">
                                    <img src="{{ propety.image.url }}" class="img-responsive"
                                         alt="Free HTML5 Template by uicookies.com" style="width: 350px; height: 250px">
                                </div>
                                <div class="probootstrap-card-text">
                                    <h2 class="probootstrap-card-heading"><a
                                            href="{% url 'property:property_detail' propety.id %}">{{ propety }}</a>
                                    </h2>
                                    <div class="probootstrap-listing-location">
                                        <i class="icon-location2"></i> <span>360 W Wellington Chicago, IL 60657</span>
                                    </div>
                                    <div class="probootstrap-listing-category for-sale">
                                        <span> for {{ propety.property_type }}</span></div>
                                    <div class="probootstrap-listing-price"><strong>$ {{ propety.price }}</strong> /
                                        month
                                    </div>
                                </div>
                                <div class="probootstrap-card-extra">
                                    <ul>
                                        <li>
                                            Area
                                            <span>{{ propety.area }}</span>
                                        </li>
                                        <li>
                                            Beds
                                            <span>{{ propety.beds_number }}</span>
                                        </li>
                                        <li>
                                            Baths
                                            <span>{{ propety.baths_number }}</span>
                                        </li>
                                        <li>
                                            Garages
                                            <span>{{ propety.garage_number }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END listing -->
                        </div>
                    {% endfor %}
                {% else %}
                    <div>
                        <H2> No property with this name or type </H2>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>



{% endblock %}